doctype html
html(lang="en")
    head
        title #{pageTitle}
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.11.6/viewer.min.css")
        link(rel="stylesheet", href="https://unpkg.com/file-upload-with-preview/dist/style.css")
        link(rel="stylesheet", href="/css/style.css")
    body 
        include ../partials/header.pug
        block main
        
        include ../partials/footer.pug